@page "/bookchanges"
@using RepositoryPattern
@using Model.DTO
@inject LibraryRepository library
<h3>ChangesInBook</h3>
<EditForm Model="model" OnValidSubmit="OnSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div>
        <label>Nazwa:</label>
        <InputText @bind-Value="model.Title" />
    </div>
    <div>
        <label>Data wydania:</label>
        <InputDate @bind-Value="model.ReleaseDate" />
    </div>
    <div>
        <label>Opis:</label>
        <InputText @bind-Value="model.Description" />
    </div>
    <button>Zapisz</button>
</EditForm>
@code {
    BookDTO model = new BookDTO();
    [Parameter]
    public BookDTO originalModel { get; set; }
    protected override void OnInitialized()
    {
        if (originalModel != null)
        {
            model = originalModel;
        }
        else
        {
            model.Authors = new List<BookAuthorDTO>();
        }
    }
    void OnSubmit()
    {
        if (originalModel == null)
        {
            Console.WriteLine("dodano");
            BookRequestDTO tempbook = new BookRequestDTO { Title = model.Title, ReleaseDate = model.ReleaseDate, AuthorsIds = model.Authors.Select(x => x.Id).ToList() };
            library.PostBook(tempbook);

        }
        else
        {
            Console.WriteLine("edytowano");
            library.EditBook(model.Id, model);
        }
    }
}
