@page "/authorchanges"
@using RepositoryPattern
@using Model.DTO
@inject LibraryRepository library
<EditForm Model="model" OnValidSubmit="OnSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div>
        <label>Nazwa:</label>
        <InputText @bind-Value="model.FirstName" />
    </div>
    <div>
        <label>Data wydania:</label>
        <InputDate @bind-Value="model.SecondName" />
    </div>
    <div>
        <label>Opis:</label>
        <InputText @bind-Value="model.CV" />
    </div>
    <button>Zapisz</button>
</EditForm>
@code {
    AuthorDTO model = new AuthorDTO();
    [Parameter]
    public AuthorDTO originalModel { get; set; }
    protected override void OnInitialized()
    {
        if (originalModel != null)
        {
            model = originalModel;
        }
        else
        {
            model.Books = new List<SlimBookDTO>();
        }
    }
    void OnSubmit()
    {
        if (originalModel == null)
        {
            Console.WriteLine("dodano");
            AuthorRequestDTO tempauthor = new AuthorRequestDTO {FirstName=model.FirstName,SecondName=model.SecondName,BooksId= model.Books.Select(x=>x.Id).ToList()};
            library.PostAuthor(tempauthor);
        }
        else
        {
            Console.WriteLine("edytowano");
            library.EditAuthor(model.Id, model);
        }
    }
}